
body {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    display: grid;
    margin: 40px 5px 5px 5px;
    justify-content: center;
    grid-template-columns: 0.4fr 2.4fr 0.4fr;
    grid-template-rows: 0.6fr 0.3fr 0.2fr 1.8fr .3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title title"
        "border-top border-top border-top"
        "border-left game-info border-right"
        "border-left game-screen border-right"
        "border-bottom border-bottom border-bottom";
}

.title { 
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #99ff00;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 900;
    background: #6600ff;
    /* background: linear-gradient(to right, #822ACE 0%, #000000 100%); */
    background: radial-gradient(ellipse at center, #6600ff 0%, #000000 100%);
    /* background: radial-gradient(ellipse at center, #000000 0%, #6600ff 100%); */
    border: 12px solid #99ff00;
    border-radius: 20px;
    padding-bottom: 10px;
    text-shadow: #000000 4px 4px 0px, #00ffe6 8px 8px 0px;
    box-shadow: 0px -10px #6bb200, 10px -10px #6bb200, -10px -10px #6bb200, 0px -20px #4a7c00, 20px -20px #4a7c00, -20px -20px #4a7c00;
    margin-bottom: 5px;
}

.border-top { 
    grid-area: border-top; 
    background-color: #00ffe6;
    border-left: 12px solid #6bb200;
    border-top: 12px solid #6bb200;
    border-right: 12px solid #6bb200;
    border-radius: 20px 20px 0px 0px;
}

.game-info { 
    grid-area: game-info;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-top: 12px solid black;
    border-radius: 20px;
    box-shadow: 13px -14px #6bb200, -13px -14px #6bb200;
    padding: 10px 20px;
}

.game-screen { 
    grid-area: game-screen; 
    background-color: black;
}

.border-left { 
    grid-area: border-left; 
    background: rgb(2,0,78);
    background: linear-gradient(0deg, rgba(2,0,78,1) 0%, rgba(6,3,99,1) 55%, #00ffe6 100%);
    border-left: 12px solid #6bb200;
    border-right: 12px solid #6bb200;
    border-bottom: 12px solid #6bb200;
    border-radius: 0px 0px 20px 20px;
    /* transform: translate(0px, -12px) */
}

.border-right { 
    grid-area: border-right; 
    background: rgb(2,0,78);
    background: linear-gradient(0deg, rgb(2, 0, 54) 0%, rgba(6,3,99,1) 55%, #00ffe6 100%);
    border-left: 12px solid #6bb200;
    border-right: 12px solid #6bb200;
    border-bottom: 12px solid #6bb200;
    border-radius: 0px 0px 20px 20px;
}

.border-bottom {
    grid-area: border-bottom;
    margin-top: 5px;
    border: 12px solid #99ff00;
    border-radius: 20px;
    /* background: radial-gradient(ellipse at center, #6600ff 0%, #000000 100%); */
    background-color: rgb(2, 0, 54);
    padding-top: 12px;
    color: white;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* transform: rotateX(60deg) translateY(-120px); */
    }
    
    .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 { grid-area: 3 / 3 / 4 / 4; }
    .div4 { grid-area: 2 / 4 / 3 / 5; }
    .div5 { grid-area: 2 / 6 / 3 / 7; }
    .div6 { grid-area: 2 / 8 / 3 / 9; }
    .div7 { grid-area: 3 / 2 / 4 / 3; }
    .div8 { grid-area: 2 / 3 / 3 / 4; }
    .div9 { grid-area: 4 / 3 / 5 / 4; }
    .div10 { grid-area: 3 / 4 / 4 / 5; }
    .div11 { grid-area: 3 / 6 / 4 / 7; }
    .div12 { grid-area: 3 / 8 / 4 / 9; }

.buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

canvas {
    display: block;
    width: auto;
    background-color: black;
}

h1 {
    margin: 0 auto;
}

.clicked {
    pointer-events: none;
}

button {
    border-radius: 100%;
    border: 6px solid #0000001e;
    padding: 15px 15px;
    margin: 0 auto;
    box-shadow: inset 0px 0px 6px 2px #0000006c;
}



