
body {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0d0d;
}

.container {
    display: grid;
    margin: 25px 5px 5px 5px;
    justify-content: center;
    grid-template-columns: 0.4fr 2.4fr 0.4fr;
    grid-template-rows: 0.6fr 0.3fr 0.2fr 1.8fr .3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title title"
        "border-top border-top border-top"
        "border-left game-info border-right"
        "border-left game-screen border-right"
        "border-bottom border-bottom border-bottom";
}

.title { 
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #99ff00;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 900;
    background: #6600ff;
    background: radial-gradient(ellipse at center, #6600ff 0%, #000000 100%);
    border: 12px solid #99ff00;
    border-radius: 20px;
    padding-bottom: 10px;
    text-shadow: #000000 4px 4px 0px, #00ffe6 8px 8px 0px;
    box-shadow: 0px -10px #6bb200, 10px -10px #6bb200, -10px -10px #6bb200, 0px -20px #4a7c00, 20px -20px #4a7c00, -20px -20px #4a7c00;
    margin-bottom: 5px;
}

.border-top { 
    grid-area: border-top; 
    background-color: #00ffe6;
    border-left: 12px solid #6bb200;
    border-top: 12px solid #6bb200;
    border-right: 12px solid #6bb200;
    border-radius: 20px 20px 0px 0px;
}

.game-info { 
    grid-area: game-info;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-top: 12px solid black;
    border-radius: 20px;
    box-shadow: 13px -14px #6bb200, -13px -14px #6bb200;
    padding: 10px 20px;
}

.game-screen { 
    grid-area: game-screen; 
    background-color: black;
}

.border-left { 
    grid-area: border-left; 
    background: #020036;
    background: linear-gradient(0deg, #02004e 0%, rgba(6,3,99,1) 55%, #00ffe6 100%);
    border-left: 12px solid #6bb200;
    border-right: 12px solid #6bb200;
    border-bottom: 12px solid #6bb200;
    border-radius: 0px 0px 20px 20px;
}

.border-right { 
    grid-area: border-right; 
    background: #020036;
    background: linear-gradient(0deg, #020036 0%, rgba(6,3,99,1) 55%, #00ffe6 100%);
    border-left: 12px solid #6bb200;
    border-right: 12px solid #6bb200;
    border-bottom: 12px solid #6bb200;
    border-radius: 0px 0px 20px 20px;
}

.border-bottom {
    margin: 0 auto;
    margin-top: 5px;
    width: 80%;
    grid-area: border-bottom;
    border: 12px solid #99ff00;
    border-radius: 20px;
    background: radial-gradient(ellipse at center, #6600ff 0%, #000000 100%);
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 12px 0px #6bb200, -12px 0px #6bb200, 24px 0px #4a7c00, -24px 0px #4a7c00;
    }

    .buttonsCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .div1 { 
        grid-area: 2 / 1 / 3 / 2;
        background: linear-gradient(to right, #6600ff 0%, #000000 100%);
        box-shadow: inset 0px 0px 5px 1px #020036;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 6px;
    }
    .div2 { 
        grid-area: 1 / 2 / 2 / 3;
        background: linear-gradient(to bottom, #6600ff 0%, #000000 100%);
        box-shadow: inset 0px 0px 5px 1px #020036;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 3px;
        margin-top: 6px;
    }
    .div3 { 
        grid-area: 3 / 2 / 4 / 3; 
        background: linear-gradient(to top, #6600ff 0%, #000000 100%);
        box-shadow: inset 0px 0px 5px 1px #020036;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 3px;
        margin-bottom: 6px;
    }
    .div4 { 
        grid-area: 2 / 3 / 3 / 4; 
        background: linear-gradient(to left, #6600ff 0%, #000000 100%);
        box-shadow: inset 0px 0px 5px 1px #020036;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 3px;
        padding-top: 3px;
    }
    .div5 {
        grid-area: 2 / 5 / 3 / 6; 
        background: linear-gradient(to right, #6600ff 0%, #000000 100%);
        box-shadow: inset 0px 0px 5px 1px #020036;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        }
    .div6 { 
        grid-area: 2 / 7 / 3 / 8; 
        background: linear-gradient(to left, #6600ff 0%, #000000 100%);
        box-shadow: inset 0px 0px 5px 1px #020036;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: 6px;
    }

    .div7 { 
        grid-area: 2 / 4 / 3 / 5; 
    }
    .div8 { 
        grid-area: 2 / 6 / 3 / 7;
        background-color: black;
    }
    .div9 { 
        grid-area: 2 / 2 / 3 / 3;
        background-color: black;
    }

    .div10 { grid-area: 3 / 5 / 4 / 6; }

    .div11 { grid-area: 3 / 7 / 4 / 8; }

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
}

.buttonText {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 6px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

canvas {
    display: block;
    width: auto;
    background-color: black;
}

h1 {
    margin: 0 auto;
}

.clicked {
    pointer-events: none;
}

button {
    border-radius: 100%;
    border: 6px solid #0000001e;
    padding: 15px 15px;
    margin: 0 auto;
    box-shadow: inset 0px 0px 5px 2px #0000006c;
}
